<div class="nav">
  <div class="group-buttons">
    <!-- Filter button -->
    <p-button *ngIf="(appStateService.listVisible$ | async)" (click)="drawerVisible = true" icon="pi pi-sliders-h"
      label="Filters" />

    <!-- Return button -->
    <p-button *ngIf="(appStateService.detailsVisible$ | async)" (click)="toggleListVisibility()" icon="pi pi-arrow-left"
      label="Return List"></p-button>

    <!-- Reset list button -->
    <p-button (click)="toggleResetList()" icon="pi pi-refresh"
        label="Reset List"></p-button>

    <p-toggleswitch [(ngModel)]="isDark" (ngModelChange)="toggleDarkMode()">
      <ng-template #handle let-checked="isDark">
        <i [ngClass]="['!text-xs', 'pi', isDark ? 'pi-moon' : 'pi-sun']" style="font-size: 0.8rem"></i>
      </ng-template>
    </p-toggleswitch>
  </div>

  <app-search (searchCompleted)="toggleDetailsVisibility()"></app-search>
</div>

<!-- Search results and list -->
<div>
  <router-outlet></router-outlet>
</div>

<app-menu [visible]="drawerVisible" (visibleChange)="drawerVisible = $event"></app-menu>
